*{
    margin: 0px;
    padding: 0px;

}
header h3{
    background-color: gray;
    text-align: center;
    font-size: 25px;
    margin: 0px;
}
header h1{
    background-color: #f1c2c2;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    margin: 0px;
}

main{
    display: flex;
}

nav{
    display: flex;
    width: 35%;
    flex-direction: column;
    border: 1px solid black;
}

.secciones{
    display: flex;
    flex-direction: column;
}
.seccion1 img{
    width:200px;
}
.seccion2 img{
    width:300px;
}

.articulos1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
}
.articulos1 article{
    width: 18%;
    justify-content: center;
}
.articulos2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*imagenes inferiores:*/
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box2{
    display: flex;
    flex-direction: column-reverse;
}
.box3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.seccion2 p{
    border: 2px solid black;
    padding:20px;
    text-align: center;
}
.articulos2{
    border: 1px solid black;
}
.seccion2 h2{
    text-align: center;
}
.seccion2{
    margin-bottom:50px;
    border-bottom: 2px solid black;
}

.navDivs{
    display: flex;
    flex-direction: column;
}
.navDivs li a{
    text-decoration: none;
    color: black;
    list-style: none;
}
.navDivs li{
    margin-bottom: 20px;
}

.div2 {
    position: absolute;
    bottom: 0;
}
.div1{
    text-align: center;
    border: 1px solid black;
}
.div2 li::before{
    content: '•';
    margin-right: 8px;
    color: black;
}

.box1 img{
    margin-bottom: 20px;
}

button {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}


@media (max-width: 768px) {
    .seccion2, .div2{
        display: none;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    .div1{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav{
        width: 100%;
    }
    .navDivs li{
        margin-right: 30px;
        margin-left: 30px;
    }
    .articulos1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid black;
    }
    .articulos1 article{
        width: 100%;
    }
    .art1 img{
        width: 350px;
        height: 100px;
    }
    .art2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .art2 p{
        margin-right: 180px;
    }
    .art1{
        text-align: center;
    }
    .art3{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .art3 p{
        margin-left: 180px;
    }

}

