header h3{
    background-color: gray;
    text-align: center;
    font-size: 25px;
    margin: 0px;
}
header h1{
    background-color: #e19797;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    margin: 0px;
}

main{
    display: flex;
}

.secciones{
    display: flex;
    flex-direction: column;
}
.seccion1 img{
    width:200px;
}
.seccion2 img{
    width:300px;
}

.articulos1{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
.articulos1 article{
    width: 25%;
}
